<!-- templates/home.html -->
{% extends "core/base.html" %}

{% block title %}خانه{% endblock %}

{% block content %}
<h2 class="mb-4">محصولات</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="محصول نمونه">
            <div class="card-body">
                <h5 class="card-title">نام محصول</h5>
                <p class="card-text">توضیح کوتاه محصول.</p>
                <a href="#" class="btn btn-primary">جزئیات</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}